<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>upload</title>
</head>

<body>
    <form action="upload" enctype="multipart/form-data" method="post">
        <input type="file" name="image" /> <br>
        <input type="submit" value="上传" />
    </form>
</body>


<script src="https://cdn.bootcss.com/jquery/1.2.3/jquery.min.js">

</script>
<script>
    // $.ajax({
    //     url: 'https://api.weixin.qq.com/cgi-bin/media/upload?access_token=14_SvGfQUKIUQ2JsvibmpWYzNVkHQKSg2JcxZD6xKWduuVFi7bh-jhiJR0GGh5FTMKE_dNpkaju1tWIqOI7DiWhitjwtX0BUmtLLHEpGWSjJSWiTmhs3GxnUU1E6BWyYwU_Yz_lT7xGrpg93KZPGDWaAGAVSL&type=image',
    //     type: "post",
    //     data: {
    //         data: {
                
    //         }
    //     },
    //     success(res) {
    //         console.log("success" + res)
    //     },
    //     error(res) {
    //         console.log("fail" + res)
    //     },
    // })
</script>

</html>